<%- include("header") -%>
    <div class= "deletePage">
        <h1>Delete Posts</h1>
        <div class="deleteTable">
            <div class="deleteHead">
               <span class="dImg">IMG</span>
               <span class="dTitle">Title</span>
               <span class="dTime">Time</span>
               <span class="dWriter">Writer</span> 
            </div>
            <div class="dbList">

                <% workout.forEach((result)=>{ %>
                    <form action="/delete" method="POST" >
                        <div class="deleteData">
                            <span class="dImg"><img class="deleteImg" src="./image/<%= result.image %>" alt=""></span>
                            <span class="dTitle"><%=result.title%></span>
                            <span class="dTime"><%= result.writedTime%></span>
                            <span class="dWriter"><%= result.writer%>  </span>  
                            <button class="dButton" type="submit" name="checkedItem" value="<%= result._id %>" > 
                                <i class="far fa-file-excel"></i>
                            </button>
                        </div>
                    </form>

                <% }) %>
            </div>
        </div>
    </div>
<%- include("footer") -%>