<%- include("header") -%>
<div class="content-box">
    <div class= contents-div>
        <span class="contents-showing"> showing number to number of total posts</span>
        <span class="contents-nav-right">
            <i class="fas fa-bars contents-nav-icons"></i><i class="fas fa-th contents-nav-icons"></i>
        </span>
    </div>
    <div class="item-box">
        <% workout.forEach((result)=>{ %>
            <form class="workoutItemButton" action="/workout" method="POST">
                <button class="workoutItemButton" name="checkedItem" value="<%=result.title%>"  >
                <div class = "contents" name="<%= workout._id%>">
                    <div class = "contents-img"><img src="./image/<%= result.image %>" alt=""></div>
                    <div class = "contents-explain">
                        <p>
                            <span class = "category"><%=result.category%></span> 
                        </p>
                        <span class="contents-title"><%=result.title%></span>
                        <p class="contents-by">edited at <%= result.writedTime%> by <%= result.writer%></p>
                    </div>
                </div>
            </button>
            </form>
        <% }) %>
    
    </div>
    
</div>
<%- include("footer") -%>

