<%- include("header") -%>
<nav class="content-box">
    <nav class= contents-nav>
        <span class="contents-showing"> showing number to number of total posts</span>
        <span class="contents-nav-right">
            <i class="fas fa-bars contents-nav-icons"></i><i class="fas fa-th contents-nav-icons"></i>
        </span>
    </nav>
    <% workout.forEach((result)=>{ %>
        <nav class = "contents">
            <nav class = "contents-img"><img src="./image/<%= result.image %>" alt=""></nav>
            <nav class = "contents-explain">
                <p>
                    <span class = "category"><%=result.category%></span> 
                </p>
                <span class="contents-title"><%=result.title%></span>
                <p class="contents-by">edited at <%= result.writedTime%> by <%= result.writer%></p>
            </nav>
        </nav>
    <% }) %>
    
</nav>
<%- include("footer") -%>

