<%- include("header") %>

<div class="restBox selected">
    <h1><%= workout.title %></h1>
    <div class="side-crop">
        <img class="restImg1"src="/image/<%= workout.image%>" alt="">
    </div>
    <div class= "textContentBox">
        <%= workout.textContent %>
    </div>
</div>
<%- include("footer") %>